@font-face {
    font-family: 'Phenomena';
    src: url('Phenomena-Regular.eot');
    src: local('Phenomena Regular'), local('Phenomena-Regular'), url('Phenomena-Regular.eot?#iefix') format('embedded-opentype'), url('Phenomena-Regular.woff2') format('woff2'), url('Phenomena-Regular.woff') format('woff'), url('Phenomena-Regular.ttf') format('truetype'), url('Phenomena-Regular.svg#Phenomena-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Phenomena';
    src: url('Phenomena-Light.eot');
    src: local('Phenomena Light'), local('Phenomena-Light'), url('Phenomena-Light.eot?#iefix') format('embedded-opentype'), url('Phenomena-Light.woff2') format('woff2'), url('Phenomena-Light.woff') format('woff'), url('Phenomena-Light.ttf') format('truetype'), url('Phenomena-Light.svg#Phenomena-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Phenomena';
    src: url('Phenomena-Bold.eot');
    src: local('Phenomena Bold'), local('Phenomena-Bold'), url('Phenomena-Bold.eot?#iefix') format('embedded-opentype'), url('Phenomena-Bold.woff2') format('woff2'), url('Phenomena-Bold.woff') format('woff'), url('Phenomena-Bold.ttf') format('truetype'), url('Phenomena-Bold.svg#Phenomena-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

html,
body {
    @include horizontal-gradient(#000,
    #333,
    #b3b3b3);
}

.container {
    width: 900px;
    height: 100vh;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
}

a {
    text-decoration: none;
    border: none;
}

p {
	font-family: 'Phenomena';
	font-style: normal;
	font-weight: normal;
}

button {
    border: 0px;
    &:focus {
        outline: 0;
    }
}



