footer {
    position: absolute;
    bottom: 2%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 0 auto;
    width: 100%;
    padding: 0 10%;
    align-self: center;
    a {
        color: #fff;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    p {
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        font-family: 'Phenomena', sans-serif;
        font-weight: 1rem;
    }
    span {
        color: #fff;
    }
}

// #toTop {
//     //position: fixed;
//     width: 100%;
//     max-width: 800px;
//     bottom: 2%;
//     color: #fff;
//     display: flex;
//     z-index: 200;
//     cursor: pointer;
//     overflow: hidden;
//     margin: 0 auto;
//     align-self: center;
//     @media screen and (max-width: 479px) {
//         display: none;
//     }
//     i {
//         margin: 0 auto;
//         align-self: center;
//         @media screen and (max-width: 479px) {
//             display: none;
//         }
//     }
// }
