footer {
    position: absolute;
    bottom: 2%;
    right: 2%;
    a {
        color: #fff;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    p {
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        font-family: 'Phenomena', sans-serif;
        font-weight: 1rem;
    }
}

#toTop {
    position: fixed;
    width: 100%;
    max-width: 800px;
    bottom: 2%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
    cursor: pointer;
    overflow: hidden;
    margin: 0 auto;
    align-self: center;
    i {
        margin: 0 auto;
        align-self: center;
    }
}
