#form1 {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    .slider-filter {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-self: center;
        p {
            text-align: center;
            font-size: 2rem;
            text-shadow: 0px 0px 3px rgba(0, 0, 0, .5);
            @media screen and (max-width: 400px) {
                margin: 10px auto 15px;
            }
        }
        input {
            display: block;
            width: 100%;
            margin: 5% auto;
        }
        input[type=range] {
            -webkit-appearance: none;
            width: 100%;
            max-width: 200px;
            background-color: #fff;
            height: 3px;
        }
        input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
            @include range-style();
        }
        input[type=range]::-moz-range-thumb {
            @include range-style();
        }
        input[type=range]::-ms-thumb {
            @include range-style();
        }
        input[type=range]:focus {
            outline: none;
        }
        input[type=range]::-ms-track {
            width: 100%;
            cursor: pointer;
            background: transparent;
            border-color: transparent;
            color: transparent;
        }
    }
}

#inputFile {
    -webkit-appearance: none;
    display: none;
}

.scale-btns {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-self: center;
    p {
        text-align: center;
        font-size: 2rem;
        text-shadow: 0px 0px 3px rgba(0, 0, 0, .5);
        @media screen and (max-width: 400px) {
            margin: 10px auto 15px;
        }
    }
    .buttons-wrapper {
        display: flex;
        justify-content: center;
        button {
            margin: 20px 7px 0 7px;
            width: 50px;
            &:first-child {
                @include create-button($color-accent, #fff, 1.5rem);
            }
            &:last-child {
                @include create-button(#333, #fff, 1.5rem);
            }
        }
    }
}
