#impossible-wrapper {
    width: 100%;
    max-height: 100vh;
    background-color: #b3aaa2;
    background-image: url(../img/sandpaper.png);
}

#impossible {
    svg {
        display: none;
    }
    .container {
        width: 100%;
        max-width: 900px;
        max-height: 100vh;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .photo_rectangle_inverse {
        -webkit-clip-path: url(#shape);
        clip-path: url(#shape);
        position: relative;
        -webkit-transform: translateZ(1px);
    }
    .caption {
        color: #614233;
        text-decoration: underline;
        cursor: pointer;
        margin-top: 1rem;
        margin-bottom: 1rem;
        // margin-left: 1rem;
    }
    .text-about {
        width: 900px;
        color: #614233;
        margin-bottom: 3rem;
        .intro {
            color: #614233;
            margin-left: 1rem;
            margin-top: 1rem;
            a {
                color: inherit;
                padding: 0 3px;
                &:before {
                    content: ">>";
                }
                &:after {
                    content: "<<";
                }
                &:hover {
                    background-color: #cabeb4;
                }
            }
        }
    }
}

.bottom {
    display: flex;
    justify-content: space-between;
    p {
        color: #614233;
        margin-left: 1rem;
        margin-top: 1rem;
    }
}

.continue {
    a {
        color: #614233;
        text-transform: uppercase;
    }
    &:hover {
        text-decoration: line-through;
    }

}

.css-typing
{
    width: 30em;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: type 5s steps(50, end);
    animation: type 5s steps(50, end);
}

@keyframes type{
    from { width: 0; }
}

@-webkit-keyframes type{
    from { width: 0; }
}

