#tools-left {
    color: #fff;
    font-size: 1.2rem;
    position: absolute;
    max-height: 100%;
    margin-top: 50px;
    @media screen and (max-width: 570px) {
        display: none;
    }
    .arrow {
        font-size: 2rem;
        cursor: pointer;
        i:hover {
            color: #56497c;
        }
    }
    .arrow-top {
        position: absolute;
        top: 0;
        left: 0;
    }
    .arrow-left {
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
    }
    .arrow-right {
        position: absolute;
        top: 40px;
        left: 40px;
        right: 0;
    }
    .arrow-bottom {
        position: absolute;
        top: 0;
        left: 40px;
        right: 0;
    }
    .zoom {
        position: absolute;
        top: 80px;
        left: 0;
        span {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 2rem;
            cursor: pointer;
            &:last-child {
                left: 40px;
            }
            i:hover {
                color: #56497c;
            }
        }
    }
    .rotate {
        position: absolute;
        top: 120px;
        left: 0;
        span {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 2rem;
            cursor: pointer;
            &:last-child {
                left: 40px;
            }
            i:hover {
                color: #56497c;
            }
        }
    }
}
