#tools-left,
#tools-right {
    color: #fff;
    font-size: 1.2rem;
    position: absolute;
    max-height: 100%;
    @media screen and (max-width: 570px) {
        display: none;
    }
}

#tools-left {
    margin-top: 50px;
    .arrow {
        font-size: 1.5rem;
        cursor: pointer;
    }
    .arrow-top {
        position: absolute;
        top: 0;
        left: 0;
    }
    .arrow-left {
        position: absolute;
        top: 0;
        left: 30px;
        right: 0;
    }
    .arrow-right {
        position: absolute;
        top: 0;
        left: 60px;
        right: 0;
    }
    .arrow-bottom {
        position: absolute;
        top: 0;
        left: 90px;
        right: 0;
    }
    .zoom {
        position: absolute;
        top: 50px;
        left: 0;
        span {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 1.5rem;
            cursor: pointer;
            &:last-child {
                left: 30px;
            }
        }
    }
    .rotate {
        position: absolute;
        top: 100px;
        left: 0;
        font-size: 1.5rem;
        cursor: pointer;
    }
}
