#main .container {
    background-image: url(../img/view1-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    max-width: 900px;
    background-size: cover;
}

.top-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#logo {
    margin-top: 1.2rem;
    margin-left: 1.5rem;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    width: 120px;
    height: 42.8px;
    cursor: pointer;
    -webkit-transition: All 0.2s ease-in-out;
    -moz-transition: All 0.2s ease-in-out;
    -o-transition: All 0.2s ease-in-out;
    -ms-transition: All 0.52s ease-in-out;
    transition: All 0.2s ease-in-out;
    &:hover {
        background-image: url(../img/logo-hover.svg);
    }
}

#main-nav {
    ul {
        display: flex;
        justify-content: flex-end;
        margin-right: 1.5rem;
        li {
            display: inline-block;
            list-style-type: none;
            padding-left: 1rem;
            padding-top: 1rem;
        }
        a {
            color: #fff;
            font-family: 'Phenomena';
            font-weight: 300;
            font-style: normal;
            font-size: 1.3rem;
            -webkit-transition: All 0.2s ease-in-out;
            -moz-transition: All 0.2s ease-in-out;
            -o-transition: All 0.2s ease-in-out;
            -ms-transition: All 0.52s ease-in-out;
            transition: All 0.2s ease-in-out;
            &:hover {
                text-decoration: line-through;
            }
        }
    }
}

.get-started {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
    p {
        color: #fff;
    }
    a {
        @include create-button($color-accent, #fff, 1.5rem);
        margin-top: 1rem;
        display: block;
        -webkit-transition: All 0.2s ease-in-out;
        -moz-transition: All 0.2s ease-in-out;
        -o-transition: All 0.2s ease-in-out;
        -ms-transition: All 0.52s ease-in-out;
        transition: All 0.2s ease-in-out;
        &:hover {
            background: none;
            border: 2px solid #fff;
            color: #fff
        }
    }
}
