#tools-left,
#tools-left {
    color: #fff;
    font-size: 1.2rem;
    position: absolute;
    left: 7%;
    @media screen and (max-width: 900px) {
        display: none;
    }
}

#tools-left {
    top: 10%;
    width: 30%;
    display: flex;
    flex-direction: column;
    div {
        margin-bottom: 10%;
        &:first-child {
        }
        &:nth-child(2) {
            margin-top: 60%;
            span{
                display: block;

            }
        }
        &:last-child {
            margin-top: 20%;
        }
    }
    .arrow {
        display: block;
        position: absolute;
        cursor: pointer;
    }
    .arrow-top {
        top: 0;
        left: 20%;
    }
    .arrow-left {
        top: 15%;
        left: 0;
    }
    .position-text {
        display: flex;
        position: absolute;
        top: 19%;
        left: 13%;
        align-content: center;
    }
    .arrow-right {
        top: 15%;
        left: 40%;
    }
    .arrow-bottom {
        top: 30%;
        left: 20%;
    }
}
