@mixin horizontal-gradient($color1, $color2, $color3) {
    background: $color1;
    background: -webkit-linear-gradient(left, $color1, $color2, $color3);
    background: -o-linear-gradient(right, $color1, $color2, $color3);
    background: -moz-linear-gradient(right, $color1, $color2, $color3);
    background: linear-gradient(to right, $color1, $color2, $color3);
}

@mixin create-button($bg-color, $font-color, $font-size) {
    line-height: 100%;
    font-family: 'Phenomena';
    font-weight: bold;
    background-color: $bg-color;
    color: $font-color;
    text-transform: uppercase;
    text-align: center;
    font-size: $font-size;
    padding: 0.5rem;
    border-radius: 8px;
    cursor: pointer;
    border: 0px;
}

@mixin rotate-element($deg) {
    display: block;
    -ms-transform: rotate($deg);
    -webkit-transform: rotate($deg);
    transform: rotate($deg);
}

@mixin range-style() {
    background: transparent;
    left: 20%;
    top: -10px;
    background-image: url(../img/indicator.svg);
    background-repeat: no-repeat;
    width: 13px;
    height: 25px;
    margin-top: 3px;
    cursor: pointer;
}
